# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/

# Ignore IDE files
.idea/
.vscode/

# Ignore any other files or directories you want to exclude
# Ignore other specific files or directories
dataset/
load_dataset_into_mysql/